.p-Home.Link8 {
    color: #000;
}

.p-Home.Navbar {
    padding-top: 40px;
    padding-bottom: 0px;
}

.p-Home.Home_Logo {
    width: 30%;
    max-width: 203px;
    padding-bottom: 13px;
    position: relative;
    float: left;
    text-decoration: none;
    color: #333333;
}

.p-Home.Main_Div {
    box-sizing: border-box;
    display: block;
}

.p-Home.Home_Div {
    padding-top: 70px;
    padding-bottom: 20px;
    -webkit-box-align: center;
    display: flex;
    width: 85%;
    max-width: 1215px;
    margin-right: auto;
    margin-left: auto;
}

.p-Home.Home_Div_Left {
    width: 60%;
    margin-top: -50px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.p-Home.Home_Div_Right {
    //position: relative;
    width: 43%;
    max-width: 500px;
}

.p-Home.Second_Div {
   // max-width: 862px;
    /*-webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
    padding-bottom: 80px;*/
}

.p-Home.Center_Box {
    display: inline;
    color : #000;
    font-size: 18px;
    line-height: 100%;
    //font-weight: 400;
    align-items: center;
    font-weight: bold;
}

.p-Home.First_Image12 {
    align-items: center;
}

.p-Home.Servicess {
    padding-top: 60px;
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    background-image: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    font-size: 22px;
    line-height: 100%;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
     align-items: center;
     justify-content: center;
     margin-left: 650px;
}

.p-Home.Home_Line {
    margin-top: 10px;
    margin-bottom: 0px;
    color: #000;
    font-size: 54px;
    line-height: 110%;
    font-weight: 700;
    letter-spacing: 1px;
    align-items: center;
    margin-left: 350px;
}

.p-Home.Home_Line_2 {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #000;
    font-size: 54px;
    line-height: 110%;
    font-weight: 700;
    letter-spacing: 1px;
    align-items: center;
    margin-left: 350px;
}
.p-Home.Book_Call {
    color: black;
}

.p-Home.Text_Box_1 {
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #000;
    font-size: 75px;
    line-height: 110%;
    letter-spacing: -2px;
    display: inline;
    padding-right: 5px;
    background-image: linear-gradient(108deg , #b16cea 8%, #ff5e69 40%,#ff8a56 77%,#ffa84b 91%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.p-Home.Text_Box_2 {
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #000;
    font-size: 75px;
    line-height: 110%;
    letter-spacing: -2px;   
}

.p-Home.Para_Box {
    font-size: 22px;
    line-height: 150%;
    margin-bottom: 0px;
    margin-top: 20px;
    color: #666;
}

.p-Home.Book {
    position: relative;
    max-width: 100%;
    display: inline-block;
    color: #3c46ff;
    font-size: 16px;
    line-height: 130%;
    font-weight: 500;
    background-color: transparent;
    margin-top: 40px;
}

.p-Home.Download_CV {
    color: #000;
    font-size: 18px;
    line-height: 100%;
    font-weight: 700;
    text-decoration: none;
}

.p-Home.Para_box {
    font-size: 22px;
    line-height: 150%;
    margin-bottom: 0px;
    color: #666;
    margin-top: 0;
}

.p-Home.Para_box_2 {
    font-size: 22px;
    line-height: 150%;
    margin-bottom: 0px;
    color: #666;
    margin-top: 0;
}

.p-Home.Grid {
    display: grid;
    width: 100%;
    grid-auto-columns: 1fr;
    grid-column-gap: 90px;
    grid-row-gap: 16px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.p-Home.Image22 {
    display: flex;
    width: 70px;
    height: 70px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.p-Home.What {
    margin-top: 20px;
    margin-bottom: 0px;
    color: #000;
    font-size: 24px;
    line-height: 110%;
    font-weight: 700;
}

.p-Home.Apps {
    margin-top: 20px;
    margin-bottom: 0px;
    color: #000;
    font-size: 24px;
    line-height: 110%;
    font-weight: 700;
}

.p-Home.Except {
    margin-top: 20px;
    margin-bottom: 0px;
    color: #000;
    font-size: 24px;
    line-height: 110%;
    font-weight: 700;
}

.p-Home.Unorderedlist2 {
    color: #000;
    font-size: 16px;
    line-height: 28px;
    font-weight: 700;
}

.p-Home.Unorderedlist3 {
    color: #000;
    font-size: 16px;
    line-height: 28px;
    font-weight: 700;
}

.p-Home.Unorderedlist4 {
    color: #000;
    font-size: 16px;
    line-height: 28px;
    font-weight: 700;
}

.p-Home.Para_3_Div {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 0px;
    color: #666;

}

.p-Home.Para_2_Grid {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 0px;
    color: #666;

}

.p-Home.Para_1_Grid {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 0px;
    color: #666;

}

.p-Home.Project_H{
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    background-image: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    font-size: 22px;
    line-height: 100%;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.p-Home.First_Line {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #000;
    font-size: 54px;
    line-height: 110%;
    font-weight: 700;
    letter-spacing: 1px;
}

.p-Home.View {
    color: #3c46ff;
    font-size: 16px;
    line-height: 130%;
    font-weight: 500;
    max-width: 100%;
    display: inline-block;
    position: relative;
    background-color: transparent;
}

.p-Home.Slider {
    display: flex;
    height: auto;
    background-color: transparent;
    text-align: center;
    background: #dddddd;
    clear: both;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.p-Home.Blog_D {
    margin-top: 20px;
    padding-top: 200px;
    background-color: #000;
}

.p-Home.Blog_Flex {
    position: relative;
    margin-bottom: 80px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start
}

.p-Home.Sub_Heading {
    position: sticky;
    top: 25px;
    width: 37%;
    padding-bottom: 140px;
}

.p-Home.Sub_Heading_2 {
    width: 57%;
    margin-top: 40px;
}

.p-Homw.Unorderedlist6 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #fff;
    font-size: 28px;
    line-height: 36px;
    font-weight: 700;
}

.p-Home.Blog_Text {
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    background-image: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    font-size: 22px;
    line-height: 100%;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.p-Home.Sub {
    margin-bottom: 30px;
    color : #fff;
    margin-top: 0px;
    font-size: 54px;
    line-height: 110%;
    font-weight: 700;
    letter-spacing: 1px;
}

.p-Home.View_All {
    margin-bottom: 30px;
    color : #fff;
    margin-top: 0px;
    font-size: 54px;
    line-height: 110%;
    font-weight: 700;
    letter-spacing: 1px;
}

.p-Home.BRAND {
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    background-image: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    font-size: 22px;
    line-height: 100%;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.p-Home.Main_Slider {
    overflow: visible;
    width: 40%;
    height: auto;
    position: relative;
    display: block;
    z-index: 1;
    left: 0;
    right: 0;
    white-space: nowrap;
}

.p-Home.Second_Line {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #000;
    font-size: 54px;
    line-height: 110%;
    font-weight: 700;
    letter-spacing: 1px;
}

.p-Home.Product_Flex {
    align-items: flex-start;
    -webkit-box-align: start;
    display: flex;
    width: 85%;
    max-width: 1215px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 80px;
    padding-bottom: 80px;
    -webkit-box-pack: justify;
    justify-content: space-between;

}

.p-Home.Half_1{
    width: 52%;
}

.p-Home.Prod {
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    background-image: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    font-size: 22px;
    line-height: 100%;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.p-Home.Prod_2 {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #000;
    font-size: 54px;
    line-height: 110%;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.p-Home.Intro {
    line-height: 40px;
    font-weight: 400;
    font-size: 22px;
    margin-bottom: 0px;
    color: #666;
    margin-top: 0;
}

.p-Home.Image_Grid {
    width: 85%;
    max-width: 1215px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 80px;
    -webkit-box-pack: justify;
    display: grid;
    padding-top: 0px;
    -webkit-box-align: stretch;
    align-items: stretch;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-rows: auto auto;
}

.p-Home.Full {
    width: 100%;
    height: 100%;
}

.p-Home.Full_2 {
    width: 100%;
    height: 100%;
}

.p-Home.Image3 {
    max-width: 100%;
    display: inline-block;
}

.p-Home.Image4 {
    max-width: 100%;
    display: inline-block;
}

.p-

.p-Home.Half {
    width: 100%;
    height: 100%;
}

.p-Home.Half_p {
    width: 100%;
    height: 100%;
}

.p-Home.Education {
    overflow: hidden;
}

.p-Home.Education_Flex {
    align-items: flex-start;
    display: flex;
    width: 85%;
    max-width: 1215px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 80px;
    padding-bottom: 80px;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.p-Home.Educ {
    width: 48%;
}

.p-Home.Exp {
    position: relative;
    width: 48%;
}

.p-Home.Learning {
    margin-bottom: 80px;
}

.p-Home.Exp_1 {
    margin-bottom: 80px;
}

.p-Home.Text_L {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #000;
    font-size: 36px;
    line-height: 100%;
    font-weight: 700;
}

.p-Home.Text_E {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #000;
    font-size: 36px;
    line-height: 100%;
    font-weight: 700;
}

.p-Home.Unorderedlist7 {
    display: flex;
    margin-bottom: 35px;
    padding-bottom: 40px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    align-items: flex-end;
    text-decoration: none;
    max-width: 100%;
    color: #3c46ff;
    font-size: 16px;
    line-height: 130%;
    font-weight: 500;
    background-color: transparent;
}

.p-Home.Unorderedlist8 {
    display: flex;
    margin-bottom: 35px;
    padding-bottom: 40px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    align-items: flex-end;
    text-decoration: none;
    max-width: 100%;
    color: #3c46ff;
    font-size: 16px;
    line-height: 130%;
    font-weight: 500;
    background-color: transparent;
}

.p-Home.Testimonial {
    overflow: hidden;
}

.p-Home.Test_1 {
    padding-bottom: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: start;
    align-items: flex-start;
    display: flex;
    width: 85%;
    max-width: 1215px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 80px;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.p-Home.Heading {
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    background-image: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    font-size: 22px;
    line-height: 100%;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.p-Home.Subs {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #000;
    font-size: 54px;
    line-height: 110%;
    font-weight: 700;
    letter-spacing: 1px;
}

.p-Home.Test2 {
    padding-bottom: 160px;
    display: flex;
    width: 85%;
    max-width: 1215px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 80px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

.p-Home.Person {
    position: relative;
    width: 48%;
    height: 450px;
    max-width: 485px;
    border-radius: 8px;
    filter: saturate(0%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
}

.p-Home.Logo {
    opacity: 1;
    width: 48%;
    width: 45px;
    height: 45px;
    margin-bottom: 33px;

    
}

.p-Home.Start_Text {
    line-height: 130%;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #000;
    font-size: 36px;
    font-weight: 700;
}

.p-Home.Author {
    margin-top: 115px;
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 100%;
    font-weight: 700;
    letter-spacing: 0px;
    color: #000;
}

.p-Home.Position {
    margin-top: 115px;
    display: inline;
    color: #000;
    font-size: 18px;
    line-height: 100%;
    font-weight: 400;
}

.p-Home.Footer {
    background-color: #000;
    box-sizing: border-box;
}

.p-Home.Major_Flex_1 {
    margin-bottom: 120px;
    padding-bottom: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    display: flex;
    width: 85%;
    max-width: 1215px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 80px;
    -webkit-box-align: center;
    align-items: center;
}

.p-Home.FAQ {
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    background-image: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    font-size: 22px;
    line-height: 100%;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.p-Home.Desc {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #fff;
    font-size: 54px;
    line-height: 110%;
    font-weight: 700;
    letter-spacing: 1px;
}

.p-Home.Grids {
    padding-top: 0px;
    display: flex;
    width: 85%;
    max-width: 1215px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 80px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

.p-Home.Flex_Body {
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    justify-content: space-between;

}

.p-Home.Unorderedlist9 {
    width: 48%;
    color: #fff;
}

.p-Home.Unorderedlist10 {
    width: 48%;
    color: #fff;
}

.p-Home.Contact {
    width: 100%;
    background-color: #000;
    box-sizing: border-box;
}

.p-Home.CFlex {
    padding-top: 160px;
    padding-bottom: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: start;
    align-items: flex-start;
    display: flex;
    width: 85%;
    max-width: 1215px;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.p-Home.CFlex_1 {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: start;
    align-items: flex-start;
}

.p-Home.CFlex_2 {
    display: flex;
    width: 100%;
    margin-top: 80px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    align-items: flex-start;
    box-sizing: border-box;
}

.p-Home.Add {
    width: 40%;
    max-width: 375px;
}

.p-Home.HomeI {
    margin-bottom: 15px;
    max-width: 100%;
    display: inline-block;
    color: #3c46ff;
    font-size: 16px;
    line-height: 130%;
    font-weight: 500;
    text-decoration: none;
    background-color: transparent;
    box-sizing: border-box;
}

.p-Home.add {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 0px;
    color: #666;
    margin-top: 0;
    box-sizing: border-box;
}

.p-Home.Email {
    font-size: 17px;
    color: #5c5c5c;
    line-height: 36px;
    font-weight: 700;
    box-sizing: border-box;
}

.p-Home.CGrid {
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 100px;
    grid-row-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    box-sizing: border-box;
}

.p-Home.Al{
    color: #fff;
    text-decoration: underline;
    font-size: 30px;
    line-height: 100%;
    font-weight: 700;
    text-decoration: none;
    box-sizing: border-box;
    position: relative;
    max-width: 100%;
    display: inline-block;
    font-size: 16px;
    line-height: 130%;
    font-weight: 500;
    text-decoration: none;
    background-color: transparent;
}

.p-Home.SE , .p-Home.CO , .p-Home.BL , .p-Home.PR , .p-Home.EX , .p-Home.DR , .p-Home.IN , .p-Home.TW {
    color: #fff;
    text-decoration: underline;
    font-size: 30px;
    line-height: 100%;
    font-weight: 700;
    text-decoration: none;
    box-sizing: border-box;
    position: relative;
    max-width: 100%;
    display: inline-block;
    font-size: 16px;
    line-height: 130%;
    font-weight: 500;
    text-decoration: none;
    background-color: transparent; 
}

.p-Home.CFlex_3 {
    margin-top: 150px;
    box-sizing: border-box;
}

.p-Home.SC3 , .p-Home.CPY {
    color: #8a95ad;
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
    box-sizing: border-box;
}

.p-Home.Head_C {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #fff;
    font-size: 54px;
    line-height: 110%;
    font-weight: 700;
    letter-spacing: 1px;
}

.p-Home.SubH {
    display: inline;
    background-image: linear-gradient(108deg, #b16cea 14%, #ff5e69 57%, #ff8a56 81%, #ffa84b);
    -webkit-transition: background-position 2000ms ease;
    transition: background-position 2000ms ease;
    font-size: 54px;
    line-height: 110%;
    font-weight: 700;
    letter-spacing: 0.5px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}